In [1]:
# !pip install pandasql

import numpy as np
import pandas as pd
import pandasql as ps

import warnings
warnings.filterwarnings('ignore')

Схема БД состоит из четырех таблиц:

**Product(maker, model, type)**

**PC(code, model, speed, ram, hd, cd, price)**

**Laptop(code, model, speed, ram, hd, price, screen)**

**Printer(code, model, color, type, price)**

Таблица Product представляет производителя (maker), номер модели (model) и тип ('PC' - ПК, 'Laptop' -  ноутбук или 'Printer' - принтер). Предполагается, что номера моделей в таблице Product уникальны для всех производителей и типов продуктов. В таблице PC для каждого ПК, однозначно определяемого уникальным кодом – code, указаны модель – model (внешний ключ к таблице Product), скорость - speed (процессора в мегагерцах), объем памяти - ram (в мегабайтах), размер диска - hd (в гигабайтах), скорость считывающего устройства - cd (например, '4x') и цена - price. Таблица Laptop аналогична таблице РС за исключением того, что вместо скорости CD содержит размер экрана -screen (в дюймах). В таблице Printer для каждой модели принтера указывается, является ли он цветным - color ('y', если цветной), тип принтера - type (лазерный – 'Laser', струйный – 'Jet' или матричный – 'Matrix') и цена - price.
 
 ![](computers.png)

In [2]:
product = pd.read_csv('data/product.csv', index_col='model')
product.head()

      maker     type
model
1121      B       PC
1232      A       PC
1233      A       PC
1260      E       PC
1276      A  Printer

In [3]:
laptop = pd.read_csv('data/laptop.csv', index_col='code')
laptop.head()

      model  speed  ram    hd  price  screen
code
1      1298    350   32   4.0    700      11
2      1321    500   64   8.0    970      12
3      1750    750  128  12.0   1200      14
4      1298    600   64  10.0   1050      15
5      1752    750  128  10.0   1150      14

In [4]:
pc = pd.read_csv('data/pc.csv', index_col='code')
pc.head()

      model  speed  ram    hd   cd  price
code
1      1232    500   64   5.0  12x    600
2      1121    750  128  14.0  40x    850
3      1233    500   64   5.0  12x    600
4      1121    600  128  14.0  40x    850
5      1121    600  128   8.0  40x    850

In [5]:
printer = pd.read_csv('data/printer.csv', index_col='code')
printer.head()

      model color    type  price
code
1      1276     n   Laser    400
2      1433     y     Jet    270
3      1434     y     Jet    290
4      1401     n  Matrix    150
5      1408     n  Matrix    270

### Task 1
Для каждого производителя, выпускающего ноутбуки c объёмом жесткого диска не менее 10 Гбайт, найти скорости таких ноутбуков. Вывод: производитель, скорость. 

 ![](computers.png)

### SQL

In [ ]:
query = '''

    /* your code here
    '''
data = ps.sqldf(query)
data

### Pandas

In [2]:
# your code here

### Task 2

Найдите производителей, выпускающих по меньшей мере три различных модели ПК. Вывести: Maker, число моделей ПК.

 ![](computers.png)

### SQL

In [8]:
query = '''
    /* your code here
    '''
data = ps.sqldf(query)
data

### Pandas

In [10]:
# your code here

### Task 3
Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price 

 ![](computers.png)

### SQL

In [12]:
query = '''
    
    /* your code here
'''
data = ps.sqldf(query)
data

### Pandas

In [13]:
# your code here

### Task 4
Найдите модели ноутбуков, скорость которых меньше скорости любого из ПК. Вывести: model, speed.

 ![](computers.png)

### SQL

In [14]:
query = '''

    /* your code here
'''
ps.sqldf(query)

### Pandas

In [15]:
# your code here

### Task 5

Найдите пары моделей PC, имеющих одинаковые скорость и RAM. В результате каждая пара указывается только один раз, т.е. (i,j), но не (j,i), Порядок вывода: модель с большим номером, модель с меньшим номером, скорость и RAM.

 ![](computers.png)

### SQL

In [16]:
query = '''

    /* your code here
'''
ps.sqldf(query)

### Pandas

In [17]:
# your code here

### Task 6

Найти производителей, которые выпускают более одной модели, при этом все выпускаемые производителем модели являются продуктами одного типа.
Вывести: maker, type 

 ![](computers.png)

### SQL

In [18]:
query = '''

    /* your code here
'''
ps.sqldf(query)

### Pandas

In [19]:
# your code here

### Task 7

Задача по предсказанию, сколько потратит клиент в свой первый визит на следующей неделе.

### Pandas

In [27]:
# load data
train = pd.read_csv('data/market.csv')
train[4:8]

   id  date  sum
4   1    15    8
5   1    17    6
6   1    23    2
7   1    24    7

In [28]:
# weights by date for weighted mode 
train['weights'] = (train.date / train.date.max()) ** 1.2
train[4:8]

   id  date  sum   weights
4   1    15    8  0.017440
5   1    17    6  0.020266
6   1    23    2  0.029128
7   1    24    7  0.030654

In [29]:
byw = train.groupby(['id', 'sum'])[['weights']].sum()
byw.loc[1:1]

          weights
id sum
1  1    26.984579
   2    14.208423
   3     5.630956
   4     5.456149
   5    11.246348
   6    15.971761
   7    18.317880
   8     5.361063

In [30]:
ind = byw.reset_index().groupby('id')['weights'].apply(np.argmax)
ind[:4]

id
1     0
2    11
3    16
4    24
Name: weights, dtype: int64

In [31]:
prediction = byw.iloc[ind]
prediction[:4]

          weights
id sum
1  1    26.984579
2  4    19.809903
3  5    10.248162
4  6    13.086052

In [32]:
prediction.reset_index('sum', inplace=True)
prediction[:4]

    sum    weights
id
1     1  26.984579
2     4  19.809903
3     5  10.248162
4     6  13.086052

In [33]:
# calculate last day of visit
train['delta_day'] = train['date'].diff()
train[:4]

   id  date  sum   weights  delta_day
0   1     2    6  0.001554        NaN
1   1     3    7  0.002528        1.0
2   1     8    5  0.008202        5.0
3   1    10    7  0.010721        2.0

In [34]:
# calculate mean last day
prediction['delta_day'] = train.groupby('id')['delta_day'].mean()
prediction[:4]

    sum    weights  delta_day
id
1     1  26.984579   2.164179
2     4  19.809903  -0.040650
3     5  10.248162  -1.520833
4     6  13.086052   0.905882

In [35]:
# calculate mean day between visits
prediction['last_day'] = train.groupby('id').tail(1).reset_index().set_index('id')['date']
prediction[:4]

    sum    weights  delta_day  last_day
id
1     1  26.984579   2.164179       437
2     4  19.809903  -0.040650       432
3     5  10.248162  -1.520833       359
4     6  13.086052   0.905882       436

In [36]:
# parameters
f_delta = -4
f_minus = -7
f_plus = 7
last_day = 438

# filter: long time without visits
# filter: estimated visit before our week
# filter: estimated visit after our week
def make_zero(row):
    if ((row['last_day'] - last_day < f_minus) 
            or (row['last_day'] + row['delta_day'] - last_day < f_delta)
            or (row['last_day'] + row['delta_day'] - last_day > f_plus)):
        return 0
    else:
        return row['sum']

prediction['sum'] = prediction.apply(make_zero, axis=1)
prediction[:4]

    sum    weights  delta_day  last_day
id
1   1.0  26.984579   2.164179       437
2   0.0  19.809903  -0.040650       432
3   0.0  10.248162  -1.520833       359
4   6.0  13.086052   0.905882       436

In [40]:
# saving
submit = prediction[['sum']]
submit

     sum
id
1    1.0
2    0.0
3    0.0
4    6.0
5    2.0
6    4.0
7    1.0
8    5.0
9    3.0
10   0.0
11   4.0
12   0.0
13   5.0
14   0.0
15   5.0
16   1.0
17   0.0
18   6.0
19   2.0
20   2.0
21   6.0
22   3.0
23   0.0
24   6.0
25   4.0
26   0.0
27   0.0
28   0.0
29   2.0
30   4.0
..   ...
71   2.0
72   0.0
73   5.0
74   0.0
75   0.0
76   6.0
77   5.0
78   0.0
79   5.0
80   0.0
81   4.0
82   0.0
83   7.0
84   0.0
85   5.0
86   0.0
87   5.0
88   3.0
89   0.0
90   6.0
91   0.0
92   3.0
93   6.0
94   5.0
95   3.0
96   4.0
97   6.0
98   3.0
99   5.0
100  1.0

[100 rows x 1 columns]

In [41]:
submit.to_csv('data/submit.csv')